<dialog id="gameWinBirthDialog" class="game-win">
    <div class="dialog-content">
        <h1>YOU WIN</h1>
        <iframe id="videoFrame" width="100%" height="300px" src="https://www.youtube.com/embed/FvIbCKutYNc"
            title="Three Tibbs - Happy Birthday - Punk version" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <button id="btnRestartGame" class="app-button">START GAME AGAIN</button>
    </div>
</dialog>