<div id="claimContainer" class="claim-container hidden">
    <p id="claim-content"></p>
    <button id="btnClaimStartGame" class="app-button">Start Game</button>
</div>

<div id="game-container" class="hidden">
    <section class="header-section">
        <div>
            <button id="btnStartGame" class="app-button">Start Game</button>
        </div>
        <app-score></app-score>
    </section>
    <div class="game-content">
        <app-grid></app-grid>
        <app-virtual-pad></app-virtual-pad>
    </div>
</div>
<app-gameover></app-gameover>
<app-gamewin></app-gamewin>